In [1]:
import sqlite3
import csv
from utils import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
database_path="census.db"
#As we are visualizing from married and unmarried perspective we
#removed relationship as it was not making sense for eg. there is nothing like unmarried husband or married child
all_a=['workclass','education','education_num','occupation','race','sex','native_country','income']
all_m=['age','fnlwgt','capital_gain','capital_loss','hours_per_week']
all_f=['avg','max','min','sum','count']

top_k=5
num_of_partitions=5
delta=0.01
con = sqlite3.connect(database_path)

In [3]:
def create_main_database():
    cur=con.cursor()
    cur.execute("DROP TABLE IF EXISTS census")
    cur.execute("CREATE TABLE IF NOT EXISTS census(age INTEGER,workclass VARCHAR(200) NULL,fnlwgt INTEGER,education VARCHAR(200),education_num INTEGER,marital_status VARCHAR(200),occupation VARCHAR(200) NULL, relationship VARCHAR(200),race VARCHAR(200),sex VARCHAR(200),capital_gain INTEGER,capital_loss INTEGER,hours_per_week INTEGER,native_country VARCHAR(200) NULL,income VARCHAR(200))")
    with open("census+income/adult.data", "r") as file:
        contents = csv.reader(file)
        attribute_tupple=('age','workclass','fnlwgt','education','education_num','marital_status','occupation', 'relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','income')
        _placeholder=place_holder(attribute_tupple)
        insert_records = f"INSERT INTO census VALUES {_placeholder}"
        cur.executemany(insert_records, contents)
    con.commit()
    print("Created Main Database")

def create_married_unmarried_database():
    cur = con.cursor()
    cur.execute("DROP TABLE IF EXISTS married")
    cur.execute("DROP TABLE IF EXISTS unmarried")

    # Create table for married individuals
    cur.execute("CREATE TABLE married AS SELECT * FROM census WHERE TRIM(marital_status) IN ('Married-spouse-absent', 'Married-civ-spouse', 'Separated', 'Widowed', 'Married-AF-spouse')")
    cur.execute("ALTER TABLE married DROP COLUMN marital_status")
    # Create table for unmarried individuals
    cur.execute("CREATE TABLE unmarried AS SELECT * FROM census WHERE TRIM(marital_status) IN ('Divorced', 'Never-married')")
    cur.execute("ALTER TABLE unmarried DROP COLUMN marital_status")
    con.commit()
    print("Created Married and Unmarried Database")

In [4]:
create_main_database()

Created Main Database

In [5]:
create_married_unmarried_database()

Created Married and Unmarried Database

In [6]:
def find_target_table_and_ref_table(target_table,reference_table,a_column,f_m_column,aggregate):
  # collecting all the data one by one in a row in a single dictionary
  # for preparing probability distribution from target table and reference table
  final_dict={}
  for row in range(len(target_table)):
    if target_table[f_m_column][row]!=0:
      if target_table[a_column][row] not in final_dict:
        final_dict[target_table[a_column][row]]=[[target_table[f_m_column][row]]]
      else:
        final_dict[target_table[a_column][row]][0].append(target_table[f_m_column][row])
    #added 1e-9 as it will show error for attribute value 0 during kl divergence calculation
    else:
      if target_table[a_column][row] not in final_dict:
        final_dict[target_table[a_column][row]]=[[1e-9]]
      else:
        final_dict[target_table[a_column][row]][0].append(1e-9)
  for row in range(len(reference_table)):
    #if the attribute value on in the target table
    if reference_table[a_column][row] not in final_dict:
      final_dict[reference_table[a_column][row]]=[[1e-9]]
    if reference_table[f_m_column][row]!=0:
      if len(final_dict[reference_table[a_column][row]])!=2:
        final_dict[reference_table[a_column][row]].append([reference_table[f_m_column][row]])
      else:
        final_dict[reference_table[a_column][row]][1].append(reference_table[f_m_column][row])
    else:
      if len(final_dict[reference_table[a_column][row]])!=2:
        final_dict[reference_table[a_column][row]].append([1e-9])
      else:
        final_dict[reference_table[a_column][row]][1].append(1e-9)

  #if the attribute value is in target table but not in reference table
  for key,value in final_dict.items():
    if len(value)!=2:
      final_dict[key].append([1e-9])

  final_dict=get_updated_table_based_on_aggregate_group_by(final_dict,aggregate)

  target_list=[]
  reference_list=[]
  for i in final_dict.values():
    target_list.append(i[0])
    reference_list.append(i[1])
  return target_list,reference_list


def get_updated_table_based_on_aggregate_group_by(final_dict,aggregate):
  # manual calculation on aggregate for combine multiple group-by method as sqlite does not have grouping sets feature
  if aggregate=='avg':
    for key,value in final_dict.items():
      tar_mean_val=np.mean(value[0])
      ref_mean_val=np.mean(value[1])
      final_dict[key][0]=tar_mean_val
      final_dict[key][1]=ref_mean_val
  elif aggregate=='sum':
    for key,value in final_dict.items():
      tar_mean_val=np.sum(value[0])
      ref_mean_val=np.sum(value[1])
      final_dict[key][0]=tar_mean_val
      final_dict[key][1]=ref_mean_val
  elif aggregate=='max':
    for key,value in final_dict.items():
      tar_mean_val=np.max(value[0])
      ref_mean_val=np.max(value[1])
      final_dict[key][0]=tar_mean_val
      final_dict[key][1]=ref_mean_val
  elif aggregate=='min':
    for key,value in final_dict.items():
      tar_mean_val=np.min(value[0])
      ref_mean_val=np.min(value[1])
      final_dict[key][0]=tar_mean_val
      final_dict[key][1]=ref_mean_val
  elif aggregate=='count':
    for key,value in final_dict.items():
      tar_mean_val=len(value[0])
      ref_mean_val=len(value[1])
      final_dict[key][0]=tar_mean_val
      final_dict[key][1]=ref_mean_val
  return final_dict

### Normal All Views Execution

In [7]:
#iterating over all the views
start_time=time.time()
final_ans={}
for a in all_a:
  for f in all_f:
    for m in all_m:
      married_query=f'select {a},{f}({m}) from married where {a} is not " ?" group by {a}'
      unmarried_query=f'select {a},{f}({m}) from unmarried where {a} is not " ?" group by {a}'
      cur = con.cursor()
      married_result=cur.execute(married_query)
      target_table=pd.DataFrame(married_result.fetchall())
      cur = con.cursor()
      unmarried_result=cur.execute(unmarried_query)
      reference_table=pd.DataFrame(unmarried_result.fetchall())
      target_list,reference_list=find_target_table_and_ref_table(target_table,reference_table,0,1,'avg')
      final_ans[a,f,m]=kl_divergence(target_list,reference_list)
result_list = sorted(final_ans.items(), key=lambda item: item[1],reverse=True)
end_time=time.time()
print(end_time-start_time)
print(result_list)
print(result_list[:top_k])

14.826432704925537
[(('native_country', 'min', 'capital_loss'), 24.01496317704784), (('native_country', 'avg', 'capital_loss'), 14.786019167819829), (('native_country', 'max', 'capital_loss'), 12.332418170225857), (('occupation', 'avg', 'capital_loss'), 8.519342852295644), (('native_country', 'avg', 'capital_gain'), 6.972511020461741), (('native_country', 'max', 'capital_gain'), 4.6586879384136015), (('education_num', 'max', 'capital_loss'), 2.7298424461501978), (('education', 'max', 'capital_loss'), 2.7298424461501973), (('education', 'avg', 'capital_loss'), 2.499400420923598), (('education_num', 'avg', 'capital_loss'), 2.499400420923598), (('education', 'max', 'capital_gain'), 1.535674470226553), (('education_num', 'max', 'capital_gain'), 1.535674470226553), (('education_num', 'avg', 'capital_gain'), 1.4979782421587824), (('education', 'avg', 'capital_gain'), 1.4979782421587822), (('occupation', 'max', 'capital_loss'), 1.3912033720458974), (('native_country', 'sum', 'capital_loss'), 0.7740039261924578), (('workclass', 'min', 'hours_per_week'), 0.7117008457846413), (('income', 'sum', 'capital_loss'), 0.6024933715151761), (('occupation', 'min', 'hours_per_week'), 0.5929942108232428), (('race', 'avg', 'capital_gain'), 0.5517147212867195), (('race', 'max', 'capital_gain'), 0.5238482190539062), (('income', 'sum', 'fnlwgt'), 0.4641085815596316), (('income', 'count', 'age'), 0.4600896696208465), (('income', 'count', 'fnlwgt'), 0.4600896696208465), (('income', 'count', 'capital_gain'), 0.4600896696208465), (('income', 'count', 'capital_loss'), 0.4600896696208465), (('income', 'count', 'hours_per_week'), 0.4600896696208465), (('occupation', 'max', 'capital_gain'), 0.4470983358314643), (('income', 'sum', 'hours_per_week'), 0.4443823553066254), (('income', 'sum', 'age'), 0.3861397725934737), (('native_country', 'sum', 'capital_gain'), 0.31206022468163297), (('income', 'min', 'hours_per_week'), 0.29389333245105953), (('native_country', 'min', 'hours_per_week'), 0.273446814784162), (('education', 'min', 'hours_per_week'), 0.2585727292830283), (('education_num', 'min', 'hours_per_week'), 0.2585727292830283), (('sex', 'sum', 'hours_per_week'), 0.21393515059075163), (('workclass', 'max', 'capital_gain'), 0.2127397233461309), (('sex', 'sum', 'age'), 0.2124486439187558), (('sex', 'sum', 'capital_loss'), 0.2045640795414827), (('education', 'sum', 'capital_loss'), 0.19928286890724634), (('education_num', 'sum', 'capital_loss'), 0.1992828689072461), (('sex', 'count', 'age'), 0.1953235703307546), (('sex', 'count', 'fnlwgt'), 0.1953235703307546), (('sex', 'count', 'capital_gain'), 0.1953235703307546), (('sex', 'count', 'capital_loss'), 0.1953235703307546), (('sex', 'count', 'hours_per_week'), 0.1953235703307546), (('workclass', 'avg', 'capital_gain'), 0.184092633074049), (('sex', 'sum', 'fnlwgt'), 0.18277857774249154), (('native_country', 'min', 'fnlwgt'), 0.18216399578142914), (('sex', 'sum', 'capital_gain'), 0.1680787195402806), (('occupation', 'sum', 'capital_loss'), 0.1386631458994521), (('race', 'min', 'hours_per_week'), 0.13835770079469417), (('occupation', 'avg', 'capital_gain'), 0.133350519152637), (('occupation', 'count', 'age'), 0.11905799153426405), (('occupation', 'count', 'fnlwgt'), 0.11905799153426405), (('occupation', 'count', 'capital_gain'), 0.11905799153426405), (('occupation', 'count', 'capital_loss'), 0.11905799153426405), (('occupation', 'count', 'hours_per_week'), 0.11905799153426405), (('workclass', 'sum', 'capital_loss'), 0.11807401424685886), (('occupation', 'sum', 'fnlwgt'), 0.11759494905876722), (('occupation', 'sum', 'hours_per_week'), 0.10813563688505942), (('education', 'sum', 'capital_gain'), 0.10392020344632728), (('education_num', 'sum', 'capital_gain'), 0.10392020344632728), (('occupation', 'sum', 'age'), 0.10135950245464577), (('workclass', 'max', 'fnlwgt'), 0.09073167648676952), (('workclass', 'sum', 'capital_gain'), 0.08323914970017804), (('education_num', 'max', 'fnlwgt'), 0.0828587677714942), (('education', 'max', 'fnlwgt'), 0.08285876777149417), (('sex', 'min', 'fnlwgt'), 0.07328103920111725), (('income', 'sum', 'capital_gain'), 0.07282681151698323), (('occupation', 'sum', 'capital_gain'), 0.07009314714850381), (('workclass', 'avg', 'capital_loss'), 0.06870405543611989), (('workclass', 'count', 'age'), 0.06531108847642925), (('workclass', 'count', 'fnlwgt'), 0.06531108847642925), (('workclass', 'count', 'capital_gain'), 0.06531108847642925), (('workclass', 'count', 'capital_loss'), 0.06531108847642925), (('workclass', 'count', 'hours_per_week'), 0.06531108847642925), (('workclass', 'sum', 'age'), 0.06353659949312096), (('workclass', 'sum', 'hours_per_week'), 0.06269003758033728), (('workclass', 'sum', 'fnlwgt'), 0.061910319584979834), (('occupation', 'max', 'fnlwgt'), 0.05843558450604075), (('occupation', 'min', 'fnlwgt'), 0.054903455163332796), (('education', 'sum', 'fnlwgt'), 0.05184339097151252), (('education_num', 'sum', 'fnlwgt'), 0.05184339097151251), (('native_country', 'max', 'fnlwgt'), 0.050876833194962945), (('education_num', 'count', 'age'), 0.05057064193232272), (('education_num', 'count', 'fnlwgt'), 0.05057064193232272), (('education_num', 'count', 'capital_gain'), 0.05057064193232272), (('education_num', 'count', 'capital_loss'), 0.05057064193232272), (('education_num', 'count', 'hours_per_week'), 0.05057064193232272), (('education', 'count', 'age'), 0.050570641932322594), (('education', 'count', 'fnlwgt'), 0.050570641932322594), (('education', 'count', 'capital_gain'), 0.050570641932322594), (('education', 'count', 'capital_loss'), 0.050570641932322594), (('education', 'count', 'hours_per_week'), 0.050570641932322594), (('native_country', 'min', 'age'), 0.05041437996557343), (('workclass', 'max', 'age'), 0.05038474235127366), (('race', 'sum', 'capital_gain'), 0.04718849338761687), (('workclass', 'avg', 'age'), 0.04150217912371391), (('native_country', 'max', 'hours_per_week'), 0.04057969738259836), (('native_country', 'max', 'age'), 0.036952241589692625), (('education_num', 'sum', 'age'), 0.03528299140742724), (('education', 'sum', 'age'), 0.03528299140742723), (('education', 'sum', 'hours_per_week'), 0.03413489935096341), (('education_num', 'sum', 'hours_per_week'), 0.0341348993509634), (('native_country', 'avg', 'hours_per_week'), 0.03290806272101752), (('sex', 'max', 'fnlwgt'), 0.031438919894560505), (('native_country', 'avg', 'age'), 0.03122399022659855), (('education', 'min', 'fnlwgt'), 0.02593548258210159), (('education_num', 'min', 'fnlwgt'), 0.025935482582101467), (('workclass', 'min', 'fnlwgt'), 0.024069524818436504), (('workclass', 'max', 'capital_loss'), 0.023611069969476407), (('income', 'min', 'fnlwgt'), 0.022212490489631073), (('income', 'avg', 'capital_gain'), 0.020050987654262366), (('workclass', 'max', 'hours_per_week'), 0.01895903857132263), (('race', 'sum', 'capital_loss'), 0.01759498004546871), (('workclass', 'min', 'age'), 0.017424887820717334), (('income', 'max', 'capital_loss'), 0.01724143898066796), (('native_country', 'avg', 'fnlwgt'), 0.016723409619671167), (('race', 'sum', 'age'), 0.014930564749283837), (('race', 'sum', 'hours_per_week'), 0.014333693291043975), (('race', 'count', 'age'), 0.012370860032636155), (('race', 'count', 'fnlwgt'), 0.012370860032636155), (('race', 'count', 'capital_gain'), 0.012370860032636155), (('race', 'count', 'capital_loss'), 0.012370860032636155), (('race', 'count', 'hours_per_week'), 0.012370860032636155), (('native_country', 'sum', 'fnlwgt'), 0.012306393707579319), (('race', 'min', 'fnlwgt'), 0.01205919075107991), (('native_country', 'sum', 'age'), 0.011612569287234526), (('race', 'max', 'hours_per_week'), 0.011383804348507335), (('race', 'sum', 'fnlwgt'), 0.011305208431870918), (('workclass', 'avg', 'fnlwgt'), 0.011266235899103196), (('native_country', 'sum', 'hours_per_week'), 0.010758017686714322), (('native_country', 'count', 'age'), 0.010462597288268814), (('native_country', 'count', 'fnlwgt'), 0.010462597288268814), (('native_country', 'count', 'capital_gain'), 0.010462597288268814), (('native_country', 'count', 'capital_loss'), 0.010462597288268814), (('native_country', 'count', 'hours_per_week'), 0.010462597288268814), (('race', 'max', 'age'), 0.009172828039704012), (('income', 'avg', 'age'), 0.00733401989256828), (('race', 'max', 'capital_loss'), 0.007255192516317947), (('workclass', 'avg', 'hours_per_week'), 0.0072491221488888945), (('education_num', 'avg', 'age'), 0.00701718109136956), (('education', 'avg', 'age'), 0.0070171810913695586), (('occupation', 'max', 'hours_per_week'), 0.0064099753037534565), (('race', 'avg', 'capital_loss'), 0.005623949765642211), (('education_num', 'max', 'hours_per_week'), 0.0054105686342799065), (('education', 'max', 'hours_per_week'), 0.0054105686342797825), (('education', 'max', 'age'), 0.005258998726225217), (('education_num', 'max', 'age'), 0.005258998726225217), (('occupation', 'max', 'age'), 0.004544349398931544), (('income', 'max', 'fnlwgt'), 0.004517361444439157), (('education_num', 'avg', 'hours_per_week'), 0.004319321076670277), (('education', 'avg', 'hours_per_week'), 0.004319321076670109), (('education', 'avg', 'fnlwgt'), 0.004086629260270903), (('education_num', 'avg', 'fnlwgt'), 0.004086629260270902), (('income', 'max', 'capital_gain'), 0.003707483801770106), (('occupation', 'min', 'age'), 0.0036215149864702745), (('race', 'max', 'fnlwgt'), 0.003596218602304104), (('education', 'min', 'age'), 0.003432167635295337), (('education_num', 'min', 'age'), 0.003432167635295337), (('occupation', 'avg', 'age'), 0.0033329054173810604), (('sex', 'avg', 'capital_loss'), 0.0024228888671794027), (('occupation', 'avg', 'fnlwgt'), 0.0021029165411628023), (('sex', 'avg', 'hours_per_week'), 0.0018504403006634577), (('sex', 'max', 'capital_loss'), 0.0016835665679337149), (('income', 'avg', 'hours_per_week'), 0.0015401067326738169), (('occupation', 'avg', 'hours_per_week'), 0.00106466812967476), (('race', 'avg', 'fnlwgt'), 0.0009652270813681977), (('race', 'min', 'age'), 0.0009573821630354772), (('sex', 'avg', 'capital_gain'), 0.0007974555536191565), (('race', 'avg', 'hours_per_week'), 0.0004590594455123453), (('race', 'avg', 'age'), 0.0004124673938008718), (('sex', 'avg', 'age'), 0.00034825623213703173), (('sex', 'avg', 'fnlwgt'), 0.00015969992333341766), (('income', 'avg', 'fnlwgt'), 1.4525004261505686e-05), (('income', 'avg', 'capital_loss'), 2.392067738341886e-07), (('workclass', 'min', 'capital_gain'), 0.0), (('workclass', 'min', 'capital_loss'), 0.0), (('education', 'min', 'capital_gain'), 0.0), (('education', 'min', 'capital_loss'), 0.0), (('education_num', 'min', 'capital_gain'), 0.0), (('education_num', 'min', 'capital_loss'), 0.0), (('occupation', 'min', 'capital_gain'), 0.0), (('occupation', 'min', 'capital_loss'), 0.0), (('race', 'min', 'capital_gain'), 0.0), (('race', 'min', 'capital_loss'), 0.0), (('sex', 'max', 'age'), 0.0), (('sex', 'max', 'capital_gain'), 0.0), (('sex', 'max', 'hours_per_week'), 0.0), (('sex', 'min', 'age'), 0.0), (('sex', 'min', 'capital_gain'), 0.0), (('sex', 'min', 'capital_loss'), 0.0), (('sex', 'min', 'hours_per_week'), 0.0), (('native_country', 'min', 'capital_gain'), 0.0), (('income', 'max', 'age'), 0.0), (('income', 'max', 'hours_per_week'), 0.0), (('income', 'min', 'age'), 0.0), (('income', 'min', 'capital_gain'), 0.0), (('income', 'min', 'capital_loss'), 0.0)]
[(('native_country', 'min', 'capital_loss'), 24.01496317704784), (('native_country', 'avg', 'capital_loss'), 14.786019167819829), (('native_country', 'max', 'capital_loss'), 12.332418170225857), (('occupation', 'avg', 'capital_loss'), 8.519342852295644), (('native_country', 'avg', 'capital_gain'), 6.972511020461741)]

## Share Based Optimization (Combine Multiple Aggregate)

In [8]:
def combine_multiple_aggregate(a,f_m):
    #combining multiple aggregates
    group_by=" group by "+f"{a}"
    from_married=" from married"
    from_unmarried=" from unmarried"
    where= f' where {a} is not " ?" '
    query="select "+f"{a}"+ f_m
    married_query=query+from_married+where+group_by
    unmarried_query=query+from_unmarried+where+group_by
    return married_query,unmarried_query

In [9]:
start_time=time.time()
f_m=" "
fm_list=[]
for f in all_f:
  for m in all_m:
    f_m=f_m+f",{f}({m})"
    fm_list.append((f,m))
final_ans={}
for a in all_a:
  married_query,unmarried_query=combine_multiple_aggregate(a,f_m)
  cur = con.cursor()
  married_result=cur.execute(married_query)
  target_table=pd.DataFrame(married_result.fetchall())

  cur.close()
  cur = con.cursor()
  unmarried_result=cur.execute(unmarried_query)
  reference_table=pd.DataFrame(unmarried_result.fetchall())
  for f_m_column in range(1,len(fm_list)+1):
    target_list,reference_list=find_target_table_and_ref_table(target_table,reference_table,0,f_m_column,fm_list[f_m_column-1][0])
    final_ans[(a,fm_list[f_m_column-1][0],fm_list[f_m_column-1][1])]=kl_divergence(target_list,reference_list)
result_list = sorted(final_ans.items(), key=lambda item: item[1],reverse=True)
end_time=time.time()
print(end_time-start_time)
print(result_list[:top_k])
print(result_list)

2.5375711917877197
[(('native_country', 'min', 'capital_loss'), 24.01496317704784), (('native_country', 'avg', 'capital_loss'), 14.786019167819829), (('native_country', 'max', 'capital_loss'), 12.332418170225857), (('occupation', 'avg', 'capital_loss'), 8.519342852295644), (('native_country', 'avg', 'capital_gain'), 6.972511020461741)]
[(('native_country', 'min', 'capital_loss'), 24.01496317704784), (('native_country', 'avg', 'capital_loss'), 14.786019167819829), (('native_country', 'max', 'capital_loss'), 12.332418170225857), (('occupation', 'avg', 'capital_loss'), 8.519342852295644), (('native_country', 'avg', 'capital_gain'), 6.972511020461741), (('native_country', 'max', 'capital_gain'), 4.6586879384136015), (('education_num', 'max', 'capital_loss'), 2.7298424461501978), (('education', 'max', 'capital_loss'), 2.7298424461501973), (('education', 'avg', 'capital_loss'), 2.499400420923598), (('education_num', 'avg', 'capital_loss'), 2.499400420923598), (('education', 'max', 'capital_gain'), 1.535674470226553), (('education_num', 'max', 'capital_gain'), 1.535674470226553), (('education_num', 'avg', 'capital_gain'), 1.4979782421587824), (('education', 'avg', 'capital_gain'), 1.4979782421587822), (('occupation', 'max', 'capital_loss'), 1.3912033720458974), (('native_country', 'sum', 'capital_loss'), 0.7740039261924578), (('workclass', 'min', 'hours_per_week'), 0.7117008457846413), (('income', 'sum', 'capital_loss'), 0.6024933715151761), (('occupation', 'min', 'hours_per_week'), 0.5929942108232428), (('race', 'avg', 'capital_gain'), 0.5517147212867195), (('race', 'max', 'capital_gain'), 0.5238482190539062), (('income', 'sum', 'fnlwgt'), 0.4641085815596316), (('occupation', 'max', 'capital_gain'), 0.4470983358314643), (('income', 'sum', 'hours_per_week'), 0.4443823553066254), (('income', 'sum', 'age'), 0.3861397725934737), (('native_country', 'sum', 'capital_gain'), 0.31206022468163297), (('income', 'min', 'hours_per_week'), 0.29389333245105953), (('native_country', 'min', 'hours_per_week'), 0.273446814784162), (('education', 'min', 'hours_per_week'), 0.2585727292830283), (('education_num', 'min', 'hours_per_week'), 0.2585727292830283), (('sex', 'sum', 'hours_per_week'), 0.21393515059075163), (('workclass', 'max', 'capital_gain'), 0.2127397233461309), (('sex', 'sum', 'age'), 0.2124486439187558), (('sex', 'sum', 'capital_loss'), 0.2045640795414827), (('education', 'sum', 'capital_loss'), 0.19928286890724634), (('education_num', 'sum', 'capital_loss'), 0.1992828689072461), (('workclass', 'avg', 'capital_gain'), 0.184092633074049), (('sex', 'sum', 'fnlwgt'), 0.18277857774249154), (('native_country', 'min', 'fnlwgt'), 0.18216399578142914), (('sex', 'sum', 'capital_gain'), 0.1680787195402806), (('occupation', 'sum', 'capital_loss'), 0.1386631458994521), (('race', 'min', 'hours_per_week'), 0.13835770079469417), (('occupation', 'avg', 'capital_gain'), 0.133350519152637), (('workclass', 'sum', 'capital_loss'), 0.11807401424685886), (('occupation', 'sum', 'fnlwgt'), 0.11759494905876722), (('occupation', 'sum', 'hours_per_week'), 0.10813563688505942), (('education', 'sum', 'capital_gain'), 0.10392020344632728), (('education_num', 'sum', 'capital_gain'), 0.10392020344632728), (('occupation', 'sum', 'age'), 0.10135950245464577), (('workclass', 'max', 'fnlwgt'), 0.09073167648676952), (('workclass', 'sum', 'capital_gain'), 0.08323914970017804), (('education_num', 'max', 'fnlwgt'), 0.0828587677714942), (('education', 'max', 'fnlwgt'), 0.08285876777149417), (('sex', 'min', 'fnlwgt'), 0.07328103920111725), (('income', 'sum', 'capital_gain'), 0.07282681151698323), (('occupation', 'sum', 'capital_gain'), 0.07009314714850381), (('workclass', 'avg', 'capital_loss'), 0.06870405543611989), (('workclass', 'sum', 'age'), 0.06353659949312096), (('workclass', 'sum', 'hours_per_week'), 0.06269003758033728), (('workclass', 'sum', 'fnlwgt'), 0.061910319584979834), (('occupation', 'max', 'fnlwgt'), 0.05843558450604075), (('occupation', 'min', 'fnlwgt'), 0.054903455163332796), (('education', 'sum', 'fnlwgt'), 0.05184339097151252), (('education_num', 'sum', 'fnlwgt'), 0.05184339097151251), (('native_country', 'max', 'fnlwgt'), 0.050876833194962945), (('native_country', 'min', 'age'), 0.05041437996557343), (('workclass', 'max', 'age'), 0.05038474235127366), (('race', 'sum', 'capital_gain'), 0.04718849338761687), (('workclass', 'avg', 'age'), 0.04150217912371391), (('native_country', 'max', 'hours_per_week'), 0.04057969738259836), (('native_country', 'max', 'age'), 0.036952241589692625), (('education_num', 'sum', 'age'), 0.03528299140742724), (('education', 'sum', 'age'), 0.03528299140742723), (('education', 'sum', 'hours_per_week'), 0.03413489935096341), (('education_num', 'sum', 'hours_per_week'), 0.0341348993509634), (('native_country', 'avg', 'hours_per_week'), 0.03290806272101752), (('sex', 'max', 'fnlwgt'), 0.031438919894560505), (('native_country', 'avg', 'age'), 0.03122399022659855), (('education', 'min', 'fnlwgt'), 0.02593548258210159), (('education_num', 'min', 'fnlwgt'), 0.025935482582101467), (('workclass', 'min', 'fnlwgt'), 0.024069524818436504), (('workclass', 'max', 'capital_loss'), 0.023611069969476407), (('income', 'min', 'fnlwgt'), 0.022212490489631073), (('income', 'avg', 'capital_gain'), 0.020050987654262366), (('workclass', 'max', 'hours_per_week'), 0.01895903857132263), (('race', 'sum', 'capital_loss'), 0.01759498004546871), (('workclass', 'min', 'age'), 0.017424887820717334), (('income', 'max', 'capital_loss'), 0.01724143898066796), (('native_country', 'avg', 'fnlwgt'), 0.016723409619671167), (('race', 'sum', 'age'), 0.014930564749283837), (('race', 'sum', 'hours_per_week'), 0.014333693291043975), (('native_country', 'sum', 'fnlwgt'), 0.012306393707579319), (('race', 'min', 'fnlwgt'), 0.01205919075107991), (('native_country', 'sum', 'age'), 0.011612569287234526), (('race', 'max', 'hours_per_week'), 0.011383804348507335), (('race', 'sum', 'fnlwgt'), 0.011305208431870918), (('workclass', 'avg', 'fnlwgt'), 0.011266235899103196), (('native_country', 'sum', 'hours_per_week'), 0.010758017686714322), (('race', 'max', 'age'), 0.009172828039704012), (('income', 'avg', 'age'), 0.00733401989256828), (('race', 'max', 'capital_loss'), 0.007255192516317947), (('workclass', 'avg', 'hours_per_week'), 0.0072491221488888945), (('education_num', 'avg', 'age'), 0.00701718109136956), (('education', 'avg', 'age'), 0.0070171810913695586), (('occupation', 'max', 'hours_per_week'), 0.0064099753037534565), (('race', 'avg', 'capital_loss'), 0.005623949765642211), (('education_num', 'max', 'hours_per_week'), 0.0054105686342799065), (('education', 'max', 'hours_per_week'), 0.0054105686342797825), (('education', 'max', 'age'), 0.005258998726225217), (('education_num', 'max', 'age'), 0.005258998726225217), (('occupation', 'max', 'age'), 0.004544349398931544), (('income', 'max', 'fnlwgt'), 0.004517361444439157), (('education_num', 'avg', 'hours_per_week'), 0.004319321076670277), (('education', 'avg', 'hours_per_week'), 0.004319321076670109), (('education', 'avg', 'fnlwgt'), 0.004086629260270903), (('education_num', 'avg', 'fnlwgt'), 0.004086629260270902), (('income', 'max', 'capital_gain'), 0.003707483801770106), (('occupation', 'min', 'age'), 0.0036215149864702745), (('race', 'max', 'fnlwgt'), 0.003596218602304104), (('education', 'min', 'age'), 0.003432167635295337), (('education_num', 'min', 'age'), 0.003432167635295337), (('occupation', 'avg', 'age'), 0.0033329054173810604), (('sex', 'avg', 'capital_loss'), 0.0024228888671794027), (('occupation', 'avg', 'fnlwgt'), 0.0021029165411628023), (('sex', 'avg', 'hours_per_week'), 0.0018504403006634577), (('sex', 'max', 'capital_loss'), 0.0016835665679337149), (('income', 'avg', 'hours_per_week'), 0.0015401067326738169), (('occupation', 'avg', 'hours_per_week'), 0.00106466812967476), (('race', 'avg', 'fnlwgt'), 0.0009652270813681977), (('race', 'min', 'age'), 0.0009573821630354772), (('sex', 'avg', 'capital_gain'), 0.0007974555536191565), (('race', 'avg', 'hours_per_week'), 0.0004590594455123453), (('race', 'avg', 'age'), 0.0004124673938008718), (('sex', 'avg', 'age'), 0.00034825623213703173), (('sex', 'avg', 'fnlwgt'), 0.00015969992333341766), (('income', 'avg', 'fnlwgt'), 1.4525004261505686e-05), (('income', 'avg', 'capital_loss'), 2.392067738341886e-07), (('workclass', 'min', 'capital_gain'), 0.0), (('workclass', 'min', 'capital_loss'), 0.0), (('workclass', 'count', 'age'), 0.0), (('workclass', 'count', 'fnlwgt'), 0.0), (('workclass', 'count', 'capital_gain'), 0.0), (('workclass', 'count', 'capital_loss'), 0.0), (('workclass', 'count', 'hours_per_week'), 0.0), (('education', 'min', 'capital_gain'), 0.0), (('education', 'min', 'capital_loss'), 0.0), (('education', 'count', 'age'), 0.0), (('education', 'count', 'fnlwgt'), 0.0), (('education', 'count', 'capital_gain'), 0.0), (('education', 'count', 'capital_loss'), 0.0), (('education', 'count', 'hours_per_week'), 0.0), (('education_num', 'min', 'capital_gain'), 0.0), (('education_num', 'min', 'capital_loss'), 0.0), (('education_num', 'count', 'age'), 0.0), (('education_num', 'count', 'fnlwgt'), 0.0), (('education_num', 'count', 'capital_gain'), 0.0), (('education_num', 'count', 'capital_loss'), 0.0), (('education_num', 'count', 'hours_per_week'), 0.0), (('occupation', 'min', 'capital_gain'), 0.0), (('occupation', 'min', 'capital_loss'), 0.0), (('occupation', 'count', 'age'), 0.0), (('occupation', 'count', 'fnlwgt'), 0.0), (('occupation', 'count', 'capital_gain'), 0.0), (('occupation', 'count', 'capital_loss'), 0.0), (('occupation', 'count', 'hours_per_week'), 0.0), (('race', 'min', 'capital_gain'), 0.0), (('race', 'min', 'capital_loss'), 0.0), (('race', 'count', 'age'), 0.0), (('race', 'count', 'fnlwgt'), 0.0), (('race', 'count', 'capital_gain'), 0.0), (('race', 'count', 'capital_loss'), 0.0), (('race', 'count', 'hours_per_week'), 0.0), (('sex', 'max', 'age'), 0.0), (('sex', 'max', 'capital_gain'), 0.0), (('sex', 'max', 'hours_per_week'), 0.0), (('sex', 'min', 'age'), 0.0), (('sex', 'min', 'capital_gain'), 0.0), (('sex', 'min', 'capital_loss'), 0.0), (('sex', 'min', 'hours_per_week'), 0.0), (('sex', 'count', 'age'), 0.0), (('sex', 'count', 'fnlwgt'), 0.0), (('sex', 'count', 'capital_gain'), 0.0), (('sex', 'count', 'capital_loss'), 0.0), (('sex', 'count', 'hours_per_week'), 0.0), (('native_country', 'min', 'capital_gain'), 0.0), (('native_country', 'count', 'age'), 0.0), (('native_country', 'count', 'fnlwgt'), 0.0), (('native_country', 'count', 'capital_gain'), 0.0), (('native_country', 'count', 'capital_loss'), 0.0), (('native_country', 'count', 'hours_per_week'), 0.0), (('income', 'max', 'age'), 0.0), (('income', 'max', 'hours_per_week'), 0.0), (('income', 'min', 'age'), 0.0), (('income', 'min', 'capital_gain'), 0.0), (('income', 'min', 'capital_loss'), 0.0), (('income', 'count', 'age'), 0.0), (('income', 'count', 'fnlwgt'), 0.0), (('income', 'count', 'capital_gain'), 0.0), (('income', 'count', 'capital_loss'), 0.0), (('income', 'count', 'hours_per_week'), 0.0)]

## Share Based Optimization (Combine Multiple Aggregate) (Combine Reference Query and Target Query)

In [10]:
def combine_multiple_aggregate_and_queries(a,f_m):
  #combining multiple aggregates and target and reference queries
  group_by=" group by "+f"{a}"
  from_census=" from census"
  where= f' where {a} is not " ?" '
  case_clause=", CASE WHEN TRIM(marital_status) IN ('Married-spouse-absent', 'Married-civ-spouse', 'Separated', 'Widowed', 'Married-AF-spouse') THEN 1 ELSE 0 END as g1, CASE WHEN TRIM(marital_status) IN ('Divorced', 'Never-married') THEN 1 ELSE 0 END as g2"
  combined_query="select "+f"{a}"+f_m+case_clause+from_census+where+group_by+",g1,g2"
  return combined_query

In [11]:
start_time=time.time()
f_m=" "
fm_list=[]
for f in all_f:
  for m in all_m:
    f_m=f_m+f",{f}({m})"
    fm_list.append((f,m))
final_ans={}
for a in all_a:
  combined_query=combine_multiple_aggregate_and_queries(a,f_m)
  cur = con.cursor()
  married_unmarried_result=cur.execute(combined_query)

  all_table=pd.DataFrame(married_unmarried_result.fetchall())
  cur.close()
  target_table=all_table.where(all_table[26]==1).dropna().reset_index()
  reference_table=all_table.where(all_table[27]==1).dropna().reset_index()
  for f_m_column in range(1,len(fm_list)+1):
    target_list,reference_list=find_target_table_and_ref_table(target_table,reference_table,0,f_m_column,fm_list[f_m_column-1][0])
    final_ans[(a,fm_list[f_m_column-1][0],fm_list[f_m_column-1][1])]=kl_divergence(target_list,reference_list)
result_list = sorted(final_ans.items(), key=lambda item: item[1],reverse=True)
end_time=time.time()
print(end_time-start_time)
print(result_list[:top_k])

3.830048084259033
[(('native_country', 'min', 'capital_loss'), 24.01496317704784), (('native_country', 'avg', 'capital_loss'), 14.786019167819829), (('native_country', 'max', 'capital_loss'), 12.332418170225857), (('occupation', 'avg', 'capital_loss'), 8.519342852295644), (('native_country', 'avg', 'capital_gain'), 6.972511020461741)]

## Share Based Optimization (Combine Multiple Aggregate and Group By)

In [12]:
def combine_multiple_aggregate_and_groupby():
  #combining multiple aggregates and group by
    f_m=" "
    fm_list=[]
    for f in all_f:
        for m in all_m:
            f_m=f_m+f",{f}({m})"
            fm_list.append((f,m))

    select="select"
    group_by=" group by"
    where=" where "
    for a in all_a:
        select=select+f" {a},"
        group_by=group_by+f" {a},"
        where= f' where {a} is not " ?" and '
    select=select[:-1]
    group_by=group_by[:-1]
    where=where[:-4]

    from_married=" from married"
    from_unmarried=" from unmarried"
    married_query=select+f_m+from_married+where+group_by
    unmarried_query=select+f_m+from_unmarried+where+group_by
    return married_query,unmarried_query,fm_list

In [13]:
start_time=time.time()
married_query,unmarried_query,fm_list=combine_multiple_aggregate_and_groupby()
cur = con.cursor()
married_result=cur.execute(married_query)
target_table=pd.DataFrame(married_result.fetchall())
cur.close()
cur = con.cursor()
unmarried_result=cur.execute(unmarried_query)
reference_table=pd.DataFrame(unmarried_result.fetchall())
cur.close()
final_ans={}
for a_column in range(len(all_a)):
    for f_m_column in range(len(all_a),len(all_a)+len(fm_list)):
        target_list,reference_list=find_target_table_and_ref_table(target_table,reference_table,a_column,f_m_column,fm_list[f_m_column-len(all_a)][0])
        final_ans[(all_a[a_column],fm_list[f_m_column-len(all_a)][0],fm_list[f_m_column-len(all_a)][1])]=kl_divergence(target_list,reference_list)
result_list = sorted(final_ans.items(), key=lambda item: item[1],reverse=True)
end_time=time.time()
print(end_time-start_time)
print(result_list[:top_k])

33.387032985687256
[(('native_country', 'min', 'capital_loss'), 24.007370705971454), (('native_country', 'avg', 'capital_loss'), 14.303323026145657), (('native_country', 'max', 'capital_loss'), 11.8960221527327), (('occupation', 'avg', 'capital_loss'), 8.416759833686148), (('native_country', 'avg', 'capital_gain'), 6.478983727628643)]

## Share Based Optimization (Combine Multiple Aggregate and Group By) (Combine Reference Query and Target Query)

In [14]:
def combine_multiple_aggregate_and_groupby_and_queries():
  #combining multiple aggregates and group by and queries
  f_m=" "
  fm_list=[]
  for f in all_f:
      for m in all_m:
          f_m=f_m+f",{f}({m})"
          fm_list.append((f,m))

  select="select"
  group_by=" group by"
  where=" where "
  for a in all_a:
      select=select+f" {a},"
      group_by=group_by+f" {a},"
      where= f' where {a} is not " ?" and '
  select=select[:-1]
  group_by=group_by[:-1]
  where=where[:-4]
  from_census=" from census"
  case_clause=", CASE WHEN TRIM(marital_status) IN ('Married-spouse-absent', 'Married-civ-spouse', 'Separated', 'Widowed', 'Married-AF-spouse') THEN 1 ELSE 0 END as g1, CASE WHEN TRIM(marital_status) IN ('Divorced', 'Never-married') THEN 1 ELSE 0 END as g2"
  combined_query=select+f_m+case_clause+from_census+where+group_by+",g1,g2"
  return combined_query,fm_list

In [15]:
start_time=time.time()
combined_query,fm_list=combine_multiple_aggregate_and_groupby_and_queries()
cur = con.cursor()
married_unmarried_result=cur.execute(combined_query)
all_table=pd.DataFrame(married_unmarried_result.fetchall())
cur.close()
target_table=all_table.where(all_table[33]==1).dropna().reset_index()
reference_table=all_table.where(all_table[34]==1).dropna().reset_index()
final_ans={}
for a_column in range(len(all_a)):
    for f_m_column in range(len(all_a),len(all_a)+len(fm_list)):
        target_list,reference_list=find_target_table_and_ref_table(target_table,reference_table,a_column,f_m_column,fm_list[f_m_column-len(all_a)][0])
        final_ans[(all_a[a_column],fm_list[f_m_column-len(all_a)][0],fm_list[f_m_column-len(all_a)][1])]=kl_divergence(target_list,reference_list)
result_list = sorted(final_ans.items(), key=lambda item: item[1],reverse=True)
end_time=time.time()
print(end_time-start_time)
print(result_list[:top_k])

33.34651446342468
[(('native_country', 'min', 'capital_loss'), 24.007370705971454), (('native_country', 'avg', 'capital_loss'), 14.303323026145657), (('native_country', 'max', 'capital_loss'), 11.8960221527327), (('occupation', 'avg', 'capital_loss'), 8.416759833686148), (('native_country', 'avg', 'capital_gain'), 6.478983727628643)]

## Pruning Based Method (Interval Based Method)

In [16]:
def find_mean_and_bound(res_dict,num_of_partitions,delta):
    #finding confidence interval and upper bound and lower bound
    stats_dict={}
    for key,values in res_dict.items():
        mean=np.mean(values)
        #here I have done len(values)+1 as I did not want log(log(1)) to throw any error
        ci=confidence_interval(len(values)+1,num_of_partitions,delta)
        upper_bound=mean+ci
        lower_bound=mean-ci
        stats_dict[key]=(mean,upper_bound,lower_bound)
    return stats_dict

In [17]:
start_time=time.time()
# married_query,unmarried_query,fm_list=combine_multiple_aggregate_and_groupby()
# cur = con.cursor()
# married_result=cur.execute(married_query)
# target_table=pd.DataFrame(married_result.fetchall())
# cur.close()
# cur = con.cursor()
# unmarried_result=cur.execute(unmarried_query)
# reference_table=pd.DataFrame(unmarried_result.fetchall())
# cur.close()

combined_query,fm_list=combine_multiple_aggregate_and_groupby_and_queries()
cur = con.cursor()
married_unmarried_result=cur.execute(combined_query)
all_table=pd.DataFrame(married_unmarried_result.fetchall())
cur.close()

target_table=all_table.where(all_table[33]==1).dropna().reset_index()
reference_table=all_table.where(all_table[34]==1).dropna().reset_index()

target_table_partitions=np.array_split(target_table,num_of_partitions)
target_table_partitions=reset_index(target_table_partitions)
reference_table_partitions=np.array_split(reference_table,num_of_partitions)
reference_table_partitions=reset_index(reference_table_partitions)
res_dict={}
removed_views=[]
for i in range(num_of_partitions):
  print(i)
  for a_column in range(len(all_a)):
    for f_m_column in range(len(all_a),len(all_a)+len(fm_list)):
      view_key=(all_a[a_column],fm_list[f_m_column-len(all_a)][0],fm_list[f_m_column-len(all_a)][1])
      if removed_views:
        if view_key in removed_views:
            # go to next iteration
            continue
      target_list,reference_list=find_target_table_and_ref_table(target_table_partitions[i],reference_table_partitions[i],a_column,f_m_column,fm_list[f_m_column-len(all_a)][0])

      if view_key in res_dict:
        res_dict[view_key].append(kl_divergence(target_list,reference_list))
      else:
        res_dict[view_key]=[kl_divergence(target_list,reference_list)]
  stats_dict=find_mean_and_bound(res_dict,num_of_partitions,delta)
  lower_bound=[]

  for view,m_u_l_bound in stats_dict.items():
    lower_bound.append(m_u_l_bound[2])
  sorted_lower_bound=sorted(lower_bound,reverse=True)
  k_lower_bound=sorted_lower_bound[top_k-1]
  views_to_remove = []
  for view,m_u_l_bound in stats_dict.items():
    if m_u_l_bound[1]<k_lower_bound:
      removed_views.append(view)
      views_to_remove.append(view)
  for view in views_to_remove:
    del stats_dict[view]
    del res_dict[view]

final_ans={}
for key,values in res_dict.items():
  final_ans[key]=np.mean(values)
final_ans = list(sorted(final_ans.items(), key=lambda item: item[1],reverse=True))
end_time=time.time()
print(end_time-start_time)
print(final_ans)

0
1
2
3
4
8.028573751449585
[(('native_country', 'avg', 'capital_loss'), 20.98269847041292), (('native_country', 'avg', 'capital_gain'), 18.29712638691184), (('native_country', 'max', 'capital_loss'), 17.554913436842373), (('native_country', 'max', 'capital_gain'), 11.054671326317195), (('native_country', 'min', 'fnlwgt'), 4.918556265951386)]

## Visualization

In [18]:
select="select "
group_by=" group by "
from_married=" from married"
from_unmarried=" from unmarried"


def visualization(a, m, f, con):
    target_query = f"SELECT {a}, {f}({m}) FROM married GROUP BY {a};"
    reference_query = f"SELECT {a}, {f}({m}) FROM unmarried GROUP BY {a};"

    cursor1 = con.cursor()
    cursor2 = con.cursor()
    cursor1.execute(target_query)
    cursor2.execute(reference_query)

    df_married = pd.DataFrame(cursor1.fetchall(), columns=['Category', 'Value'])
    df_unmarried = pd.DataFrame(cursor2.fetchall(), columns=['Category', 'Value'])

    merged_df = pd.merge(df_married, df_unmarried, how='outer', on='Category', suffixes=['_Married', '_Unmarried'])
    merged_df.fillna(0, inplace=True)


    plot_data = {
        'Married': list(merged_df['Value_Married'].astype(float)),
        'Unmarried': list(merged_df['Value_Unmarried'].astype(float))
    }
    df_bar = pd.DataFrame(plot_data, index=list(merged_df['Category']))

    ax = df_bar.plot.bar(xlabel=a, ylabel=f'{f}({m})', rot=90, figsize=(8, 5), color= {
      "#c27ba0",
      "#93c47d",
      "#8e7cc3",
      "#ffd966",
    }, edgecolor='black')
    return ax

In [19]:
for row in final_ans:
    print(row)
    visualization(row[0][0], row[0][2], row[0][1], con)
    plt.savefig(f"PruningImagePDF_{row}.pdf", format="pdf", bbox_inches="tight")